@import "style-variables";
@import "ngd-components";

// Frame
#app-component{
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
app-top-menu{
}
#app-side-and-content {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  height: 100px;
}
app-side-menu{
  overflow: hidden;
  display: block;
  width: 200px;
  border-right: 1px solid $color-decorator;
}
#app-main-content{
  overflow: auto;
  display: block;
  flex-grow: 1;
  padding: 20px 20px 20px 20px;
}

